<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="registerForm">
<form novalidate class="dialog" id="registerForm" th:fragment="registerForm" th:with="userRegex=${T(com.ksh.matzips.regexes.UserRegex)}, emailAuthRegex=${T(com.ksh.matzips.regexes.EmailAuthRegex)}">

    <h2 class="title">회원가입</h2>
    <input hidden name="emailSalt" type="hidden">
    <label class="_obj-label label" rel="emailLabel">
        <span class="__text">이메일</span>
        <span class="horizontal">
            <input required autocomplete="email" class="_obj-input __field input spring" maxlength="50" minlength="5"
                   name="email" placeholder="이메일 (user@sample.com)" spellcheck="false" type="email"
                   th:attrappend="data-regex=${userRegex.email.expression}">
            <button class="_obj-button" name="emailSend" type="button">인증번호 전송</button>
        </span>
        <span class="horizontal">
            <input disabled required autocomplete="one-time-code" class="_obj-input __field input spring" maxlength="6"
                   minlength="6" name="emailCode" placeholder="인증번호 (숫자 여섯 자리)" spellcheck="false" type="text"
                   th:attrappend="data-regex=${emailAuthRegex.code.expression}">
            <button disabled class="_obj-button" name="emailVerify" type="button">인증번호 확인</button>
        </span>
        <span class="__warning">올바른 이메일을 입력해 주세요.</span>
    </label>
    <label class="_obj-label label" rel="passwordLabel">
        <span class="__text">비밀번호</span>
        <input required autocomplete="new-password" class="_obj-input __field input" maxlength="50" minlength="5"
               name="password" placeholder="비밀번호 (숫자, 영어 대소문자, 특수기호 5자 이상 50자 이하)" type="password"
               th:attrappend="data-regex=${userRegex.password.expression}">
        <input required autocomplete="new-password" class="_obj-input __field input" maxlength="50" minlength="5"
               name="passwordCheck" placeholder="비밀번호를 한 번 더 입력해 주세요." type="password">
        <span class="__warning">올바른 비밀번호를 입력해 주세요.</span>
    </label>
    <label class="_obj-label label" rel="nicknameLabel">
        <span class="__text">닉네임</span>
        <input required autocomplete="off" class="_obj-input __field input" maxlength="10" minlength="2" name="nickname"
               placeholder="닉네임 (숫자, 영어 대소문자, 완성 환글 2자 이상 10자 이하)" type="text"
               th:attrappend="data-regex=${userRegex.nickname.expression}">
        <span class="__warning">올바른 닉네임을 입력해 주세요.</span>
    </label>
    <label class="_obj-check-label label">
        <input hidden class="__input" name="agree" type="checkbox">
        <span class="__checkbox"></span>
        <span class="__text">
            <a th:href="@{/assets/htmls/term-policy.html}" target="_blank">서비스 이용약관</a> 및 <a
                th:href="@{/assets/htmls/term-privacy.html}" target="_blank">개인정보 처리방침</a>을 읽어보았으며 이해하였고 동의합니다.
        </span>
    </label>
    <button class="_obj-button" type="submit">
        <i class="__icon"></i>
        <span class="__text">회원가입</span>
    </button>
    <button class="_obj-button" rel="showLoginCaller" type="button">
        <i class="__icon"></i>
        <span class="__text">돌아가기</span>
    </button>
</form>
</html>